@use '@/styles/variables' as *;

.wrapper {
  display: flex;
  flex-direction: column;
}

.main {
  height: calc(100vh - 72px);
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.image-container {
  position: relative;
}

.connection {
  margin-top: -48px;
  height: 100%;
  margin-left: 35px;
  width: 100%;
}

.introduction {
  margin-top: 110px;
  padding-left: 130px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
}

.slogan-first-sentence {
  font-size: 4.8rem;
  margin-top: 20px;
  font-weight: 800;
  width: 100%;
  font-family: $font-family-default;
}

.slogan-second-sentence {
  font-weight: 400;
  margin-top: 15px;
  width: 100%;
  font-size: 1.9rem;
  font-style: italic;
  font-family: $font-family-default;
}

.get-started {
  width: fit-content;
  padding: 7px 25px;
  border-radius: 30px;
  margin-top: 50px;
  font-size: 1.7rem;
}