.error-result {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.verified-img {
  height: 300px;
}

.back-home-btn {
  border-radius: 20px;
  padding: 5px 20px;
}