@use '@/styles/variables' as *;

.header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  max-width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: 72px;
  justify-content: space-between;
  padding: 0 60px;
  background-color: $color-background;
}

.home-btn {
  display: flex;
  align-items: center;
}

.logo {
  color: $color-primary;
  margin-left: 10px;
  font-size: 3rem;
}

.login-btn {
  font-size: 1.7rem;
  text-align: center;
  margin-right: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.signup-btn {
  font-size: 1.7rem;
  padding-left: 20px;
  padding-right: 20px;
}

.auth {
  display: flex;
  align-items: center;
  gap: 20px;
  &:hover {
    cursor: pointer;
  }
}

.avatar {
  &:hover {
    cursor: pointer;
  }
  & > img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 8px;
  }
}

.language {
}
