@use '../variables' as *;

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fcfcfc;
  height: 80vh;
  overflow-y: hidden;
}

.container {
  padding: 20px 70px 30px 70px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 960px;
  background-color: #fcfcfc;
  overflow-y: auto;
}

.card-title {
  color: rgb(11, 176, 181);
  display: flex;
  justify-content: space-between;
  margin: 0 5px;
  height: 68px;
  align-items: center;
  font-family: 'Quicksand', sans-serif !important;

  & h2 {
    font-size: 3rem;
    font-weight: 500;
  }

  & .user-invite-btn {
    width: 42px;
    height: 42px;
    color: rgb(11, 176, 181);
    margin-left: 25px;

    svg {
      width: 23px;
      height: 23px;
    }
  }

  & .user-invite-btn:hover {
    color: rgb(11, 176, 181) !important;
  }

  & .user-invite-btn:active {
    color: rgb(11, 176, 181) !important;
  }
}

.card {
  box-shadow: none;
  padding: 15px 30px;
  min-height: 140px;

  & > :first-child {
    border-bottom-color: $color-primary;
    padding-left: 18px;
    padding-right: 18px;
    height: 68px;
  }

  & > :last-child {
    padding: 0;
  }
}

.posts {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 30px;
  width: 100%;
  & hr {
    border: solid 1px #c5c4c40c;
  }
}

.card-post-info {
  margin: 0 8px;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 6px 18px;

  & > * {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  & > p {
    font-weight: 600;
    display: flex;
    align-items: center;
    font-family: 'Quicksand', sans-serif !important;
  }

  & button:last-child {
    margin-left: auto;
  }
}

.user-avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.user-divider {
  border-block-start-color: rgb(234, 234, 234);
  margin: 0;
}

.invitation-modal {
  font-family: 'Quicksand', sans-serif !important;
}

.invitation-link {
  display: flex;
  align-items: center;
  margin-bottom: 15px;

  & p {
    color: gray;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 10px;
  }

  & button {
    width: 70px !important;
  }
}

.invite-btn {
  display: flex;
  justify-content: flex-end;

  & button {
    margin-left: 20px;
  }
}

.title-info {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
