.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fcfcfc;
  height: 80vh;
  overflow-y: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  width: 75vw;
  padding-top: 20px;
  overflow-y: auto;
}

.class-info {
  margin: 7px 20px 30px 20px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.posts {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 30px;
  width: 100%;
}

.card-post {
  border: solid 1px #0000004b;
  width: 100%;
  & p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: 'Quicksand', sans-serif !important;
  }
  & p:last-of-type {
    color: gray;
    font-weight: normal;
    display: flex;
    align-items: center;
  }
  &:hover {
    background-color: rgb(241, 243, 244);
    cursor: pointer;
  }
}

.card-post-info {
  display: flex;
  flex-direction: row;
  gap: 10px;
  & button {
    width: 40px !important;
    height: 40px;
  }
  & p:last-child {
    margin-left: auto;
  }
}

.review-details {
  height: 600px !important;
}

.redStatus {
  color: #ff0000cb;
}

.greenStatus {
  color: #008000c3;
}

.review-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.modal-btn {
  display: flex;
  justify-content: flex-end;

  & button {
    margin-left: 20px;
    border-radius: 20px;
    min-width: 100px;
    height: 31px;
  }
}

.final-grade {
  color: #ff4d00;
}

.comments {
  margin-bottom: 20px;
}

.comment {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

.comment-line {
  border: solid 1px #0000004b;
  width: 100%;
  height: 90px;
  margin-bottom: 10px;
  & p {
    color: gray;
    font-size: 13px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: 'Quicksand', sans-serif !important;
  }
  & p:last-of-type {
    color: black;
    font-weight: 500 !important;
    font-weight: normal;
    display: flex;
    align-items: center;
  }
  &:hover {
    background-color: rgb(241, 243, 244);
  }
}

.comment-line-info {
  display: flex;
  flex-direction: row;
  gap: 10px;
  & p:last-child {
    margin-left: auto;
  }
}

.cmt-Form {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  & :first-child {
    width: 100% !important;
  }
  & :last-child {
    border-radius: 5px;
  }
}

.cmt-avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
