.container {
  display: flex;
  flex-direction: row;
  min-height: calc(100vh - 72px);
}

.container > :last-child {
  flex-grow: 1;
  min-height: calc(100vh - 72px);
}

.menu {
  overflow: auto;
  font-size: 16px;
  width: 256px;
  height: 100%;

  & > li:first-child {
    margin: 4px;
  } 
}