.wrap {
    width: 960px;
    height: 80vh;
    overflow-y: hidden;
    background-color: #fcfcfc;
}
  
.no-data {
    & > div {
        margin: 20px 0;
    }
    & > div:first-child {
        margin-bottom: 0px;
    }
    & button {
        margin: 0 20px;
    }
}
  
#upload-input {
    display: none;
}
  